@use 'variables' as *;

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

body {
    background-color: #0B0905;
    color: $light;
    padding: 20px;
}

.app-container {
    @include flex(flex-start, flex-start, $wrap: wrap, $gap: 20px);
}


h1 {
    color: $yellow;
}
